*{
 font-family: 'adamina','poppins','actor',;
 margin: 0;
}
.nav-bar{
 display: flex;
 float: right;
 margin-top: 50px;
}
ul{
 display: flex;
 list-style: none;
 margin-right: 40px;
}
a{
 text-decoration: none;
 color: white;
 
}
li{
margin-left: 50px;
text-transform: capitalize;
width: 90px;
border: ipx solid transparent;
height: 20px;
text-align: center;
border-radius: 6px;
padding: 2px 0;
}
.left{
 clear: both;
}
 .btn{
 margin-right: 190px;
 padding: 2px 0;
 height: 27px;
 width: 60px;
 margin-top: 0px;
 color: #faff00;
 background-color: black;
 border: none;
 text-transform: capitalize;
 font-weight: bold;
 opacity: 0.58;
 cursor: pointer;
}
li:hover{
background-color: #faff00;
color: black;
}
a:hover{
 color: black;
}
h1{
 font-size: 60px;
 font-weight: lighter;
 padding-top: 50px;
 margin-left: 100px;
 color: #faff00;
}
p{
 font-size: xx-large;
 color: #999999;
 margin-left: 100px;
 margin-top: 90px;
}
.section1{
 background-image: url(./images/moving\ 1.png);
 background-position: center;
 background-size: cover;
 height: 110vh;
 overflow: hidden;
}
h2{
 font-size: 40px;
 font-weight: lighter;
 text-transform: capitalize;
}
.section2{
 display: flex;
 margin: 50px 0;
}
.section2 p{
 color: #525050;
 font-size: x-large;
 margin: 10px 0;
 margin-top: 20px;
}
.btn1{
 align-content: center;
 color: #faff00;
 text-transform: capitalize;
 width: 150px;
 height: 45px;
 background-color: rgba(5, 2, 2, 0.9);
 border-top-right-radius: 20px;
 padding: 13px;
 padding-left: 5px;
 margin-top: 70px;

}
#left{
 margin-right: 100px;
 height: 550px;
 width: 550px;
 background-image: url(./images/moving2\ 1.png);
 background-position: center;
 background-size: cover;
}
#right{
 float: right;
 margin-top: 150px;
}
.rode{
 height: 4px;
 width: 130px;
 background: linear-gradient(to right, gold, gray, gray);
 position: absolute;
 margin-top: 130px;
 margin-left: 0px;
}
 .section3 .rode{
  margin-left: 40px;
  width: 100px;
  margin-top: 0px;
 }                 
.section3 h2{
 padding-top: 30px;
 margin-bottom: 140px;
 padding-left: 40px;
}
.image{
 height: 280px;
 width: 350px;
 background-image: url(./images/ehem\ 1.png);
 background-position: center;
 background-size: cover;
}
.image2{
 height: 280px;
 width: 350px;
 background-image: url(./images/wewe\ 1.png);
 background-position: center;
 background-size: cover;
}
.image3{
 height: 280px;
 width: 350px;
 background-image: url(./images/movers\ 1.png);
 background-position: center;
 background-size: cover;
}
.image4{
 height: 280px;
 width: 350px;
 background-image: url(./images/chapchap\ 1.png);
 background-position: center;
 background-size: cover;
}
.image5{
 height: 280px;
 width: 350px;
 background-image: url(./images/mashinani\ 1.png);
 background-position: center;
 background-size: cover;
}
.image6{
 height: 280px;
 width: 350px;
 background-image: url(./images/songa\ 1.png);
 background-position: center;
 background-size: cover;
}
h3{
 text-transform: capitalize;
 font-size: xx-large;
 font-weight: lighter;
 padding: 25px 20px;
}
.icons{
 font-weight: lighter;
 width: 350px;
 display: flex;
 justify-content: space-between;
 height: 65px;
}
.fa-car{
 border: 1px solid rgb(212, 211, 211);
 padding-top: 25px;
 text-align: center;
 width: 33.3%;
 border-left: none;
 border-bottom: none;
}
.fa-truck{
 border-left: none;
 border: 1px solid rgb(212, 211, 211);
 padding-top: 25px;
 text-align: center;
 width: 33.3%;
 border-bottom: none;
}
.fa-hashtag{
 border: 1px solid rgb(212, 211, 211);
 text-align: center;
 width: 33.3%;
 border-right: none;
 border-bottom: none;
 padding-top: 25px;
}
.image-wrap{
 border-left: none;
 width: 348px;
 height: 150px;
 margin-bottom: 20px;
 background-color: white;
 border-bottom-left-radius: 15px;
 border-bottom-right-radius: 15px;
 border-bottom-style: groove;
}
b{
 padding: 10px;
 font-weight: lighter;
}
.section3{
 padding-top: 100px;
 margin-left: 120px;
}
.container{
 background-color: rgba(212, 211, 211, 0.2);
}
#wrap{
 display: flex;
 flex-wrap: wrap;
 
}
.cards{
margin: 20px;
}








