*{
 font-family: 'adamina','poppins','actor',;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.nav-bar{
 display: flex;
 float: right;
 margin-top: 50px;
}
/*Remember to change navagation hover effect*/
ul{
 display: flex;
 list-style: none;
 margin-right: 40px;
}
a{
 text-decoration: none;
 color: white;
 
}
li{
margin-left: 50px;
text-transform: capitalize;
width: 90px;
border: ipx solid transparent;
height: 30px;
text-align: center;
padding: 5px 0;
}
.left{
 clear: both;
}
 .btn{

 padding: 2px 0;
 height: 27px;
 width: 60px;
 margin-top: 0px;
 color: black;
 background-color: black;
 border: none;
 text-transform: capitalize;
 font-weight: bold;
 opacity: 0.58;
 cursor: pointer;
 margin-right: 50px;
 background-color: #faff00;
}
.btns{
  margin-right: 300px;
  padding: 2px 0;
  height: 27px;
  width: 60px;
  margin-top: 0px;
  color: #faff00;
  background-color: black;
  border: none;
  text-transform: capitalize;
  font-weight: bold;
  opacity: 0.58;
  cursor: pointer;
 }
.btn:hover{
  color: black;
  background-color: #ffac12;
}

a:hover{
 color: #ffac12;
}
h1{
 font-size: 60px;
 font-weight: lighter;
 padding-top: 50px;
 margin-left: 100px;
 color: #faff00;
}
p{
 font-size: xx-large;
 color: #999999;
 margin-left: 100px;
 margin-top: 90px;
}
.section1{
 background-image: url(./images/moving\ 1.png);
 background-position: center;
 background-size: cover;
 height: 110vh;
 overflow: hidden;
}
h2{
 font-size: 40px;
 font-weight: lighter;
 text-transform: capitalize;
}
.section2{
 display: flex;
 margin: 50px 0;
}
.section2 p{
 color: #525050;
 font-size: x-large;
 margin: 10px 0;
 margin-top: 20px;
}
.btn1{
 align-content: center;
 color: #faff00;
 text-transform: capitalize;
 width: 150px;
 height: 45px;
 background-color: rgba(5, 2, 2, 0.9);
 border-top-right-radius: 20px;
 padding: 13px;
 padding-left: 5px;
 margin-top: 70px;

}
#left{
 margin-right: 100px;
 height: 550px;
 width: 550px;
 background-image: url(./images/moving2\ 1.png);
 background-position: center;
 background-size: cover;
}
#right{
 float: right;
 margin-top: 150px;
}
.rode{
 height: 4px;
 width: 130px;
 background: linear-gradient(to right, gold, gray, gray);
 position: absolute;
 margin-top: 130px;
 margin-left: 0px;
}
 .section3 .rode{
  margin-left: 40px;
  width: 100px;
  margin-top: 0px;
 }                 
.section3 h2{
 padding-top: 30px;
 margin-bottom: 140px;
 padding-left: 40px;
}
.image{
 height: 235px;
 width: 300px;
 background-image: url(./images/ehem\ 1.png);
 background-position: center;
 background-size: cover;
}
.image2{
 height: 235px;
 width: 300px;
 background-image: url(./images/wewe\ 1.png);
 background-position: center;
 background-size: cover;
}
.image3{
 height: 235px;
 width: 300px;
 background-image: url(./images/movers\ 1.png);
 background-position: center;
 background-size: cover;
}
.image4{
 height: 235px;
 width: 300px;
 background-image: url(./images/chapchap\ 1.png);
 background-position: center;
 background-size: cover;
}
.image5{
 height: 235px;
 width: 300px;
 background-image: url(./images/mashinani\ 1.png);
 background-position: center;
 background-size: cover;
}
.image6{
 height: 235px;
 width: 300px;
 background-image: url(./images/songa\ 1.png);
 background-position: center;
 background-size: cover;
}
h3{
 text-transform: capitalize;
 font-size: x-large;
 font-weight: lighter;
 padding: 20px;
}
.icons{
 font-weight: lighter;
 width: 300px;
 display: flex;
 justify-content: space-between;
 height: 52px;
}
.fa-car{
 border: 1px solid rgb(212, 211, 211);
 padding-top: 25px;
 text-align: center;
 width: 33.3%;
 border-left: none;
 border-bottom: none;
 
}
.fa-truck{
 border-left: none;
 border: 1px solid rgb(212, 211, 211);
 padding-top: 25px;
 text-align: center;
 width: 33.3%;
 border-bottom: none;
}
.fa-hashtag{
 border: 1px solid rgb(212, 211, 211);
 text-align: center;
 width: 33.3%;
 border-right: none;
 border-bottom: none;
 padding-top: 25px;
}
.image-wrap{
 border-left: none;
 width: 300px;
 height: 120px;
 margin-bottom: 20px;
 background-color: white;
 border-bottom-left-radius: 15px;
 border-bottom-right-radius: 15px;
 box-shadow: 0px 4px 5px;
}
b{
 padding: 10px;
 font-weight: lighter;
}
.section3{
 padding-top: 100px;
 margin-left: 190px;
}
.container{
 background-color: rgba(212, 211, 211, 0.4);
}
#wrap{
 display: flex;
 flex-wrap: wrap;
 
}
.cards{
margin: 20px;
}
.footer_con{
 display: flex;
 justify-content: center;
}
table{
width: 800px;
text-align: center;
color: wheat;
}
td{
 padding: 5px 0;
 font-weight: lighter;
 color: rgb(243, 226, 194);
}
footer{
 background: linear-gradient(to top right, black, black, black, rgb(51, 29, 2));
 height: 400px;
}
.footer_con{
 margin-top: 100px
}footer .fa{
 color: white;
 padding: 15px;
 padding-top: 70px;
}
.divide{
 position: absolute;
 width: 845px;
 background: rgb(51, 29, 2);
 height: 1px;
 margin-left: 255px;
 margin-top: 30px;
}
h4{
 color: white;
 margin-left: 255px;
 font-size: xx-large;
 font-weight: lighter;
 display: flex;
 padding-top: 50px;
}
strong{
 margin-left: 10px;
 font-weight: lighter;
 color: #ffac12;
}
nav{
 background: linear-gradient( to top right, black,rgb(29, 16, 1),rgb(54, 29, 1));
 height: 200px;
}
.nav-left{
 display: flex;
 float: right;
 margin-top: 20px;
 margin-right: 200px;
}
.nav-left .btn1{
 background-color: #ffac12;
 color: black;
 margin-top: 6px;
}
.nav-left .fa-long-arrow-right{
 color: white;
}
.nav-left ul{
 padding-top: 20px;
}
.border{
  position: absolute;
 width: 100%;
 background: rgb(51, 29, 2);
 height: 1px;
 margin-top: 100px;
}
.inline{
  position: relative;
  display: flex;
  justify-content: space-between;
  color: rgb(238, 232, 232);
  margin-top: 130px;
  margin-left: 100px;
  margin-right: 100px;
 }
  .top{
  font-size: xx-large;
  font-weight: lighter;
  text-transform: capitalize;
  color: rgb(238, 232, 232);
 }
 .bottom{
  text-transform: capitalize;
  font-size: small;
  margin-top: 0;
  color: rgb(190, 185, 185);
 }
 #usd1{
   position: absolute;
  font-size: larger;
  margin-left: 1160px;
  margin-top: 145px;
  color: rgb(238, 232, 232);
 }
 #usd2{
   position: absolute;
  font-size: x-small;
  margin-left: 1160px;
  margin-top: 150px;
  color: rgb(190, 185, 185);
 }
.address{
  position: absolute;
  margin-top: 40px;
}
.display{
  display: flex;
}
.big-image{
  margin-top: 60px;
  margin-left: 200px;
  height: 410px;
  width: 560px;
  background-image: url(./images/Property\ House.png);
  background-position: center;
  background-size: cover;
  margin-right: 40px;
}
#profile-pic{
  margin-top: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.name{
  font-size: small;
  text-transform: capitalize;
  color: black;
  margin: 0;
  margin-top: 10px;
}
.user{
  font-size: x-small;
  color: #faff00;
  margin: 0;
}
#info{
  display: flex;
}
.display input{
  margin-top: 10px;
  padding: 10px 5px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid lightgray;
  margin-left: 10px;
}
.profile{
  margin-top: 60px;
  background-color: white;
  width: 270px;
  align-items: center;
  height: 410px;
  border-radius: 15px;
  box-shadow: 2px 4px 5px rgb(199, 198, 198);
}
.profile .btn1{
  margin-top: 0;
 width: 250px;
 margin-left: 10px;
 height: 60px;
}
#type{
  height: 100px;
  margin-bottom: 25px;
}
.movers{
  background-color: rgba(175, 171, 171, 0.2);
}

.showcase1{
  background-image: url(./images/Rectangle.png);
  background-position: center;
  background-size: cover;
  margin-right: 13px;
  height: 70px;
  width: 70px;
}
.showcase2{
  background-image: url(./images/Rectangle-1.png);
  background-position: center;
  background-size: cover;
  height: 70px;
  width: 70px;
  margin-right: 13px;
}
.showcase3{
  background-image: url(./images/Rectangle-2.png);
  background-position: center;
  background-size: cover;
  height: 70px;
  width: 70px;
  margin-right: 13px;
}
.showcase4{
  background-image: url(./images/Rectangle-3.png);
  background-position: center;
  background-size: cover;
  height: 70px;
  width: 70px;
  margin-right: 13px;
}
.showcase5{
  background-image: url(./images/Rectangle-4.png);
  background-position: center;
  background-size: cover;
  height: 70px;
  width: 70px;
  margin-right: 13px;
}
.showcase6{
  background-image: url(./images/Rectangle-5.png);
  background-position: center;
  background-size: cover;
  height: 70px;
  width: 70px;
  margin-right: 13px;
}
.showcase7{
  background-image: url(./images/Rectangle-6.png);
  background-position: center;
  background-size: cover;
  height: 70px;
  width: 70px;
  margin-right: 13px;
}
#showcase{
  display: flex;
  margin-top: 20px;
  margin-left: 200px;
}
.details{
  width: 560px;
  margin-left: 200px;
  margin-top: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 2px 4px 5px grey;
}
h6{
  font-size: large;
  text-transform: capitalize;
  border-bottom: 1px solid rgb(184, 181, 181);
  padding: 25px 10px;
  border-top: none;
}
.details .fa{
  width: 19.41%;
  text-align: center;
  padding: 15px 0;
}

.fa-bus{
  border-right: 1px solid rgb(184, 181, 181);
}
.fa-bath{
  border-right: 1px solid rgb(184, 181, 181);
}.fa-university{
  border-right: 1px solid rgb(184, 181, 181);
}
.fa-asterisk{
  border-right: 1px solid rgb(184, 181, 181);
}
.details b{
  font-weight: lighter;
  font-size: small;
}
.details p{
  font-size: 16px;
  margin: 0;
  padding: 20px 10px;
  color: rgb(95, 93, 93);
}
.features{
display: flex;
flex-wrap: wrap;
column-gap: 30px;
text-transform: capitalize;
column-width: 100px;
}
.fa-check-circle{
  display: flex;
  color: #ffac12;
  font-size: small;
  text-transform: capitalize;
}
.fa-check-circle b{
 font-weight: bold;
}
.merge{
  display: flex;
  width: 150px;
  margin-left: 15px;
}
#wrap-page2{
  display: flex;
  margin-left: 180px;
  overflow: hidden;
}
.page2 .rode{
  margin-left: 200px;
  width: 80px;
  margin-top: 0;
}
.page2 h2{
  margin-left: 200px;
  margin-bottom: 100px;
  margin-bottom: 40px;
  padding-top: 30px;
}
.page2{
  margin-top: 50px;
}
.page2-image{
  height: 235px;
  width: 300px;
  background-image: url(./images/Rectangle-7.png);
  background-position: center;
  background-size: cover;
 }
 .page2-image2{
  height: 235px;
  width: 300px;
  background-image: url(./images/Rectangle-8.png);
  background-position: center;
  background-size: cover;
 }
 .page2-image3{
  height: 235px;
  width: 300px;
  background-image: url(./images/Rectangle-9.png);
  background-position: center;
  background-size: cover;
 }
 .page2-image4{
  height: 235px;
  width: 300px;
  background-image: url(./images/Rectangle-10.png);
  background-position: center;
  background-size: cover;
 }
.footer{
  display: flex;
}
.footer .btn1{
  background-color: #ffac12;
 color: black;
 margin-top: 40px;
 margin-left: 370px;
}
.footer .fa-long-arrow-right{
  margin: 0;
  padding: 0;
}






